.container {
    width: 1100px;
    margin: 0 auto;
}

.contact {
    display: flex;
}

.contact_heading {
    font-size: 35px;
}

.contact_info {
    width: 30%;

}

.sign_up {
    width: 70%;
}

input {
    width: 100%;
}

.btn {
    max-width: 100px;
}

input {
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.sign_up_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact_title {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
}

ul {
    list-style: none;

}


.icon {
    margin-bottom: 20px;

}

.contact_list {
    padding-left: 40px;
}