.container {
    width: 70%;

    margin: 0 auto;
}

.feedback_heading {
    text-align: center;
    font-size: 50px;
}

.feedback_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feedback_item {
    gap: 10px;
    width: 33.33%;
    display: flex;
}

.feedback_avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;

}

.feedback_para {
    width: 280px;
}